{% extends 'zerrenda/basea.html' %}
{% block content %}


<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Kotxea</th>
            <th>Bezeroa</th>
            <th>Alokatze Data</th>
           
    </thead>
    <tbody>
        {% for alokatua in alokatuak %}
        <tr>
            <td>{{alokatua.kotxea}}</td>
            <td>{{alokatua.bezeroa}}</td>
            <td>{{alokatua.alokatze_data}}</td>
            <td> 
                <form method="post" action="{% url 'alokatzea-ezabatu' alokatua.kotxea.id alokatua.bezeroa.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('Alokatze hau ezabatzera doa, ados?');">Eliminar</button>
                </form>
            </td>
            
             
           <!-- si es true alaparecera como alokatua, else libre -->
           
            
        </tr>
       
        
    {% endfor %}
    </tbody>
</table>

{% endblock %}
