<!DOCTYPE html>
<html lang="en">

<head>
    <title>Eibar Ikasleak - Main Page - Zerrenda</title>
   
    <link href="https://fonts.googleapis.com/css?family=Ruslan+Display" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstraptheme.min.css">
</head>

<body>
    <div class="page-header">
        <H1><a href="{% url 'zerrenda-default' %}">Ikasleak - Zerrenda</a></H1>
        <H1><a href="{% url 'zerrenda-ikasgaiak' %}">Ikasgaiak - Zerrenda</a></H1>
        <a href="{% url 'zerrenda-ikasle-new' %}"><span class="glyphicon
            glyphicon-plus">Ikasle berria gehitu</span></a>
            <a href="{% url 'zerrenda-ikasle-new' %}"><span class="glyphicon
                glyphicon-plus">Ikasgai berria gehitu</span></a>
    </div>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>

</html>