{% extends 'zerrenda/base.html' %}
{% block content %}


<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Izena</th>
            <th>Maila</th>
            <th>Hizkuntza</th>
        </tr>
    </thead>
    <tbody>
    {% for ikasgai in ikasgaiak %}
        <tr>
            <td>{{ ikasgai.izena }}</td>
            <td>{{ ikasgai.maila }}</td>
            <td>{{ ikasgai.hizkuntza }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
