{% extends 'zerrenda/base.html' %}
{% load static %}
{% block content %}

<table class="table table-striped table-hover table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Izena</th>
            <th>Abizena</th>
            <th>Jaiotze Data</th>
        </tr>
    </thead>
    <tbody>
        {% for ikasle in ikasleak %}
        <tr>
            <td>{{ikasle.izena}}</td>
            <td>{{ikasle.abizena}}</td>
            <td>{{ikasle.jaiotze_data}}</td>
            <td>
                <form method="post" action="{% url 'ikaslea-ezabatu' ikasle.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" onclick="return confirm('¿Estás seguro de que quieres eliminar esta ikasle?');">Eliminar</button>
                </form>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}

